# =========================================================================
# PhysioTrack - Master .gitignore
# =========================================================================

### Compilación y Salidas de Java (Maven, NetBeans, IDEs) ###
/target/
out/
!**/src/main/**/out/
!**/src/test/**/out/
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/
/nbbuild/
/dist/
/nbdist/

### IntelliJ IDEA ###
.idea/
*.iml
.kotlin

### VS Code ###
.vscode/

### NetBeans ###
/nbproject/private/
/.nb-gradle/

### Eclipse ###
.settings
.project
.classpath
.apt_generated
.factorypath
.springBeans
.sts4-cache

### Vaadin & Frontend Web Development (¡Esencial!) ###
# Estos archivos son generados/actualizados automáticamente por vaadin-maven-plugin
node_modules/
src/main/frontend/generated/
vite.generated.ts

### Sistema Operativo (Mac OS / Windows) ###
.DS_Store
Thumbs.db

### Environment Variables ###
.env
